body {
  background-color: #091a20;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
}

.text {
  background: linear-gradient(to right, rgba(0, 168, 253), #fff 35%, #e00a95);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 3s linear infinite;
  font-size: 150px;
}

@keyframes gradient {
  0% {
    background-position: 0% 75%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 70%;
  }
}
